<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reservations</title>
    </head>
    <body>
        {% extends "bootstrap/base.html" %}
        {% block content %}
        <h1>Current Reservations</h1>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Room Number</th>
                    <th>Check-In Date</th>
                    <th>Check-Out Date</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        <td>{{row["name"]}}</td>
                        <td>{{row["roomNum"]}}</td>
                        <td>{{row["checkIn"]}}</td>
                        <td>{{row["checkOut"]}}</td>
                        <td>{{row["email"]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href = "/" class="btn btn-primary btn-sm">Back to Home</a>
        {% endblock %}
    </body>
</html>